.container {
    .table>:not(caption)>*>* {
        img {
            max-width: 100px;
            border-radius: 5px;
        }


        background-color: transparent;
        color: white;


    }

    .container-table {
        border: 1px solid white;
        border-radius: 10px;

        .table {
            .site {
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                a {
                    color: white;
                }
            }


            tr:last-child td {
                border: 0;
            }
        }
    }
}